<div>
<h1>Movie index</h1>
</div>

<div class="container">
<h2>Lists</h2>
<ul>
  <% @lists.each do |list|  %>
  <li><%= link_to list.name, list_path(list) %><li>
  
  <% end %>
</ul>

<p><%= link_to "create new list", new_list_path  %></p>


<br>
  <h2>Movies</h2>

</div>
