<h1> <%= @list.name  %> </h1>
<p>Movies in this list:</p>

<ul>
  <% @list.movies.each do |movie| %>
  <li> <%= link_to movie.title, movie_path(movie)  %></li>
  <% end %>
</ul>

<%= link_to "back to lists", lists_path  %>
